<!DOCTYPE html>
<html>
  <head>
    <title>admin</title>
     <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="bitrho's blog">
    <meta name="author" content="bitrho">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/plugins/back-to-top/css/reset.css"> 
    <link rel="stylesheet" href="/public/plugins/back-to-top/css/style.css"> 
    <link rel="stylesheet" href="/public/plugins/responsive-newsletter-form/css/style.css"> <!-- Resource style -->

    <link rel="shortcut icon" href="/public/favicon.ico">  
    <link href='/public/css/google-fonts.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/plugins/EpicEditor/docs/css/prettify.css">
    <script src="/public/plugins/back-to-top/js/modernizr.js"></script>
  </head>
  <body>
    <header>
        <h1>post</h1>
    </header>

    <main class="cd-container">
      <div class="cd-form-wrapper ">
        <form class="cd-form">
          <input type="text" class="cd-text cd-title"    name="title"     placeholder="title">
          <input type="text" class="cd-text cd-subtitle" name="subtitle"  placeholder="subtitle">
          <div class="epiceditors" id="example-1"></div>
          <input type="submit" class="cd-submit" value="Submit">
          <div class="cd-loading"></div>
        </form>
        <div data-type="message" class="cd-response cd-response-error">Ops! Error message here</div>
        <div data-type="message" class="cd-response-success"><p>Great! Success message here</p></div>
        <div data-type="message" class="cd-response cd-response-notification">Hey! Notification message here</div>
      </div>
      
    </main>
  
    
  <a href="#0" class="cd-top">Top</a>
  <script src="/public/plugins/EpicEditor/docs/js/jquery.min.js"></script>
  <script src="/public/plugins/EpicEditor/docs/js/prettify.js"></script>
  <script src="/public/plugins/EpicEditor/epiceditor/js/epiceditor.js"></script>
  <script src="/public/plugins/EpicEditor/docs/js/main.js"></script>
  <script src="/public/plugins/back-to-top/js/main.js"></script> 
  <script src="/public/plugins/responsive-newsletter-form/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>