{{define "blog"}}

<aside class="blog aside section">
	<div class="section-inner">
    	<h2 class="heading">Latest Blog Posts</h2>
        <p>my post</p>
        <section id="cd-timeline" class="cd-container">
		{{range .Posts}}
			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-picture">
					<img src="/public/plugins/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
				</div>
				<div class="cd-timeline-content">
					<h2>{{.Title}}</h2>
					<p>{{.Content}}</p>
					<a href="{{ .Url }}" target="_blank" class="cd-read-more">Read more</a>
					<span class="cd-date">{{.Date}}</span>
				</div> 
			</div> 
		{{end}}	
		</section> 
    </div><!--//section-inner-->
</aside><!--//section-->

{{end}}