{{template "header" }}
    <!-- ******HEADER****** --> 
    {{template "page_header"}}
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                {{template "about"}}
                {{template "latest"}}
                {{template "project"}} 
                {{template "experience"}}
                {{template "github"}}
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                {{template "info"}}
                {{template "skill"}}
                {{template "testimonials"}}
                {{template "education"}}
                {{template "languages"}}
                {{template "blog"}}
                {{template "music"}}
                {{template "conferences"}}
                {{template "credit"}}
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
{{template "footer"}}   