{{ define "page_header"}}
<header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src="/public/images/profile.png" alt="bitrho" />
            <div class="profile-content pull-left">
                <h1 class="name">bitrho</h1>
                <h2 class="desc">Web App Developer</h2>   
                <ul class="social list-inline">
                    <li><a href="http://weibo.com/312599901" target="_blank"><i class="fa fa-weibo"></i></a></li>               
                    <li><a href="https://github.com/bitrho"><i class="fa fa-github-alt"></i></a></li>                  
                    <li class="last-item">
                        <a href="#">
                            <i class="fa fa-hacker-news"></i>
                        </a>
                    </li>                 
                </ul> 
            </div><!--//profile-->

            <a class="btn btn-cta-primary pull-right" href="mailto:bitrho@163.com" target="_blank">
                <i class="fa fa-paper-plane"></i> Contact Me
            </a>

            <ul class="main-navigation">
                <li class="search">
                    <form action="/search/" id="search-form" method="get">
                        <input type="search" name="s" placeholder="Search...">
                        <input type="hidden" value="submit">
                    </form>   
                </li>
            </ul>           
        </div><!--//container-->
</header><!--//header-->
{{ end}}